##############################
## Java
##############################
.mtj.tmp/
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.ctxt
hs_err_pid*

# Log file
*.log

##############################
## IntelliJ
##############################

.idea/
.idea_modules/

*.ipr
*.iws


